@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    margin-block-end: 1rem;
}

.cards {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
    flex-basis: 31%;
    margin-block: 1rem;
    margin-inline: 0.4rem;
    padding-block-end: 2.5rem;
    padding-block-start: 1rem;
    padding-inline: 0.4rem;
}

.card__email {
    font-size: 1rem;
}

.form-wrapper {
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
    font-size: 18px;
    margin-block: 2rem;
    margin-inline: auto;
    max-inline-size: 768px;
    padding: 2rem;
}

label, input {
    margin-top: 5px;
    display: block;
    font-size: inherit;
}

input[type="text"] {
    padding: .25rem;
}

input[type="submit"] {
    background-color: lightgrey;
    border: none;
    padding: .375rem 1rem;
    margin-top: 10px;
}

form p {
    font-size: .8rem;
    padding-block: 1rem;
}

/* Table styles */
th {
    font-weight: bold;
    text-align: start;
}

th, td {
    padding: 1rem;
}

tr {
    padding: 0;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}